/* THIS BEGINS THE FORM STYLE */
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(60,60,60);
    color: white;
    font-size: 18px;
    padding: 16px 25px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(40,40,40);
}
div.form-container {
    border-radius: 5px;
    border: 2px solid black;
    background-color: #f2f2f2;
    padding: 20px;
}
div.container {
   width: 100%;
}
/* div containers for shit */
.section {
  float: left;
  max-width: 450px;
  min-height: 550px;
  font-family: verdana;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white;
  margin: 0 5px;
}
.center {
  margin: auto;
  width: 650px;
  font-family: Georgia;
  font-size: 90%;
  
}

.newspaper {
   font-family: Courier;
   background-color: #F8ECC2;
   color: rgba(0,0,0,0.8);
   text-align: justify;
   border-radius: 0;
   border: 0;
   margin: 8px;
   
}

.padding {
   padding: 15px; 
}

/* end style for it */
header{
   color: white;
   background-color: rgb(80,20,20);
   text-align: center;
   font-family: verdana;
   padding: 1em;
   border: 4px solid black;
   border-radius: 0 25px;
}

body {
   background-color: rgb(140,140,140);
}

footer {
   text-align: center;
   background-color: rgb(80,20,20);
   color: white;
   font-size: 18px;
   border: 4px solid black;
   height: 450px;
}
aside {
   text-align: center;
   float: right;
   max-width: 300px;
   margin: 0;
}
article {
   margin-left: 20px;
   padding: 1em;
   overflow: hidden;
}
ul.a {list-style_type: disc;}

h1 { text-align: center; }

span.written {
   font-family: 'Architects Daughter', cursive;
}